<%- include('partials/header.ejs') %><!-- Begin page -->
<div id="layout-wrapper">
    <!-- Start right Content here -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="page-title-box d-sm-flex align-items-center justify-content-between"
                        >
                            <h4 class="mb-sm-0">Units</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);"
                                            >Dashboard</a
                                        >
                                    </li>
                                    <li class="breadcrumb-item active">Unit</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div id="productList">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div
                                        class="d-flex align-items-center flex-wrap gap-3"
                                    >
                                        <div class="flex-grow-1">
                                            <h3 class="card-title mb-0">
                                                Unit List
                                            </h3>
                                        </div>
                                        <div>
                                            <div class="d-flex flex-wrap gap-2">
                                                <button
                                                    type="button"
                                                    class="btn btn-thm add-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#showModal"
                                                    data-name="Unit"
                                                >
                                                    <i
                                                        class="bi bi-plus-circle align-baseline me-1"
                                                    ></i>
                                                    Add Unit
                                                </button>
                                                <!-- <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                <i
                                                    class="ph-cloud-arrow-down align-middle me-1"
                                                ></i>
                                                Import
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-subtle-info"
                                            >
                                                <i
                                                    class="ph-cloud-arrow-up align-middle me-1"
                                                ></i>
                                                Export
                                            </button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row gy-3">
                                        <div class="col-xl-4">
                                            <div class="search-box">
                                                <input
                                                    type="text"
                                                    class="form-control search"
                                                    placeholder="Search name, date etc..."
                                                />
                                                <i
                                                    class="ri-search-line search-icon"
                                                ></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-centered align-middle table-nowrap mb-0"
                                        >
                                            <thead class="table-active">
                                                <tr>
                                                    <th>
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                value="option"
                                                                id="checkAll"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                                for="checkAll"
                                                            ></label>
                                                        </div>
                                                    </th>
                                                    <th>#</th>
                                                    <!-- <th >
                                                    Code
                                                </th> -->
                                                    <th
                                                        
                                                       
                                                    >
                                                        Name
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Symbol
                                                    </th>
                                                    <!-- <th >
                                                    Code symbol(International)
                                                </th> -->
                                                    <th
                                                        
                                                       
                                                    >
                                                        Default
                                                    </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                <% if (!units[0]) { %>
                                                <tr>
                                                    <td
                                                        colspan="100%"
                                                        class="text-center"
                                                    >
                                                        No Data
                                                    </td>
                                                </tr>
                                                <% } else { %> <%
                                                units.forEach(function(unit,index)
                                                { %>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                name="chk_child"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                            ></label>
                                                        </div>
                                                    </td>
                                                    <td><%= index + 1 %></td>
                                                    <!-- <td class="code">
                                                    <%= unit.code %>
                                                </td> -->
                                                    <td class="products">
                                                        <%= unit.name %>
                                                    </td>
                                                    <td class="category">
                                                        <%= unit.symbol %>
                                                    </td>
                                                    <!-- <td
                                                    class="symbol_international"
                                                >
                                                    <%=
                                                    unit.symbol_international %>
                                                </td> -->
                                                    <td class="status">
                                                        <span
                                                            class="badge bg-secondary-subtle text-secondary"
                                                        >
                                                            <%= unit.default ==
                                                            true ? 'Yes' : 'No'
                                                            %>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="dropdown position-static"
                                                        >
                                                            <button
                                                                class="btn btn-subtle-secondary btn-sm btn-icon"
                                                                role="button"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false"
                                                            >
                                                                <i
                                                                    class="bi bi-three-dots-vertical"
                                                                ></i>
                                                            </button>

                                                            <ul
                                                                class="dropdown-menu dropdown-menu-end"
                                                            >
                                                                <!-- <li>
                                                                <a
                                                                    class="dropdown-item"
                                                                    href="apps-ecommerce-product-details.html"
                                                                    ><i
                                                                        class="ph-eye align-middle me-1"
                                                                    ></i>
                                                                    View</a
                                                                >
                                                            </li> -->
                                                                <li>
                                                                    <a
                                                                        class="dropdown-item edit-item-btn"
                                                                        data-bs-toggle="modal"
                                                                        data-name="Category"
                                                                        href="#showEditModal"
                                                                        id="edit_btn"
                                                                        data-model="<%= JSON.stringify(unit) %>"
                                                                        ><i
                                                                            class="ph-pencil align-middle me-1"
                                                                        ></i>
                                                                        Edit
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a
                                                                        class="dropdown-item remove-item-btn"
                                                                        data-bs-toggle="modal"
                                                                        href="#deleteRecordModal"
                                                                        data-id="<%= unit._id%>"
                                                                        ><i
                                                                            class="ph-trash align-middle me-1"
                                                                        ></i>
                                                                        Remove</a
                                                                    >
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }); %> <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="noresult" style="display: none">
                                        <div class="text-center py-4">
                                            <i
                                                class="ph-magnifying-glass fs-1 text-primary"
                                            ></i>
                                            <h5 class="mt-2">
                                                Sorry! No Result Found
                                            </h5>
                                            <p class="text-muted mb-0">
                                                We've searched more than 150+
                                                units We did not find any
                                                units for you search.
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="align-items-center mt-4 justify-content-between row text-center text-sm-start"
                                        id="pagination-element"
                                    >
                                        <div class="col-sm">
                                            <div class="text-muted">
                                                Showing
                                                <span
                                                    class="fw-semibold"
                                                    id="current-items"
                                                    ><%= Math.min(currentPage *
                                                    pageSize, totalItems)
                                                    %></span
                                                >
                                                of
                                                <span
                                                    class="fw-semibold"
                                                    id="total-items"
                                                    ><%= totalItems ? totalItems : 0%></span
                                                >
                                                Results
                                            </div>
                                        </div>

                                        <div class="col-sm-auto mt-3 mt-sm-0">
                                            <div
                                                class="pagination-wrap hstack gap-2 justify-content-center"
                                            >
                                                <a
                                                    class="page-item pagination-prev disabled"
                                                    href="javascript:void(0)"
                                                    >Previous</a
                                                >
                                                <ul
                                                    class="pagination listjs-pagination mb-0"
                                                ></ul>
                                                <a
                                                    class="page-item pagination-next"
                                                    href="javascript:void(0)"
                                                    >Next</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!-- Add Unit Modal -->
<div
    class="modal fade"
    id="showModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Add Unit</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="close-ordermodal"
                ></button>
            </div>
            <form class="tablelist-form" id="addUnitForm" autocomplete="off">
                <div class="modal-body">                    
                    <input type="hidden" id="id-field" />
                    <div class="form-check mb-3">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="default"
                            id="default"
                        />
                        <label class="form-check-label" for="default_label"
                            >Default</label
                        >
                    </div>
                    <!-- <div class="mb-3">
                        <label for="code_label" class="form-label">Code</label>
                        <input
                            type="hidden"
                            id="code"
                            class="form-control"
                            name="code"
                            placeholder="Enter Code"
                            required
                        />
                    </div> -->
                    <div class="mb-3">
                        <label for="name_label" class="form-label"
                            >Unit Name</label
                        >
                        <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            placeholder="Enter Unit Name"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="symbol_label" class="form-label"
                            >Unit Symbol</label
                        >
                        <input
                            type="text"
                            id="symbol"
                            class="form-control"
                            name="symbol"
                            placeholder="Enter Unit Symbol"
                            required
                        />
                    </div>
                    <!-- <div class="mb-3">
                        <label
                            for="symbol_international_label"
                            class="form-label"
                            >Unit Symbol (International)</label
                        >
                        <input
                            type="text"
                            id="symbol_international"
                            class="form-control"
                            name="symbol_international"
                            placeholder="Enter Unit Symbol (International)"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="code_name_label" class="form-label"
                            >Code Name (International)</label
                        >
                        <input
                            type="text"
                            id="code_name"
                            class="form-control"
                            name="code_name"
                            placeholder="Enter Code Name (International)"
                            required
                        />
                    </div> -->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button
                            type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="submit"
                            class="btn btn-success"
                            id="add-btn"
                        >
                            Add Unit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end Add Unit Modal -->

<!-- Edit unit Modal -->
<div
    class="modal fade"
    id="showEditModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Edit Unit</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="close-ordermodal"
                ></button>
            </div>
            <form class="tablelist-form" id="editform">
                <div class="modal-body">
                    <input type="hidden" id="editid" name="editid" />
                    <div class="form-check mb-3">
                        <label
                            class="form-check-label"
                            for="edit_default_label"
                        >
                            Default
                        </label>
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="edit_default"
                            id="edit_default"
                        />
                    </div>

                    <!-- <div class="mb-3">
                        <label for="edit_code_label" class="form-label"
                            >Code
                        </label>
                        <input
                            type="text"
                            id="edit_code"
                            class="form-control"
                            name="edit_code"
                            placeholder="Enter Code"
                        />
                    </div> -->
                    <div class="mb-3">
                        <label for="edit_name_label" class="form-label"
                            >Unit Name
                        </label>
                        <input
                            type="text"
                            id="edit_name"
                            class="form-control"
                            name="edit_name"
                            placeholder="Enter Unit Name"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="edit_symbol_label" class="form-label"
                            >Unit Symbol
                        </label>
                        <input
                            type="text"
                            id="edit_symbol"
                            class="form-control"
                            name="edit_symbol"
                            placeholder="Enter Unit Symbol"
                        />
                    </div>
                    <!-- <div class="mb-3">
                        <label
                            for="symbol_international_label"
                            class="form-label"
                            >Unit Symbol(International)
                        </label>
                        <input
                            type="text"
                            id="edit_symbol_international"
                            class="form-control"
                            name="edit_symbol_international"
                            placeholder="Enter Unit Symbol International"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="code_name_label" class="form-label"
                            >Code Name(International)
                        </label>
                        <input
                            type="text"
                            id="edit_code_name"
                            class="form-control"
                            name="edit_code_name"
                            placeholder="Enter Code Name International"
                        />
                    </div> -->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button
                            type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="submit"
                            class="btn btn-success"
                            id="add-btn"
                        >
                            Save & Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit unit Modal -->

<!-- deleteRecordModal -->
<div
    id="deleteRecordModal"
    class="modal fade zoomIn"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    id="deleteRecord-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Are you sure ?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">
                            Are you sure you want to remove this record ?
                        </p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button
                        type="button"
                        class="btn w-sm btn-light btn-hover"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn w-sm btn-danger btn-hover"
                        id="delete-record"
                    >
                        Yes, Delete It!
                    </button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /deleteRecordModal -->

<%- include('partials/footer.ejs') %>

<script>
    //#Add Unit region
    var addformUnit = $("#addUnitForm");
    addformUnit.on("submit", submitFormHandler);

    function submitFormHandler(e) {
        e.preventDefault();
        var formData = getFormData(addformUnit);

        $.ajax({
            type: "POST",
            processData: false,
            contentType: "application/json",
            url: "/admin/unit/add",
            data: JSON.stringify(formData),
        })
            .done((res) => {
                if (res.status == 200) {
                    iziToast.success({
                        title: "Success",
                        message: res.message,
                        position: "topRight",
                    });
                    $("#showModal").modal("hide");
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else {
                    iziToast.error({
                        title: "Error",
                        message: res.message,
                        position: "topRight",
                    });
                }
            })
            .fail(function (xhr, status, error) {
                iziToast.error({
                    title: "Error",
                    message: xhr.responseText,
                    position: "topRight",
                });
            });
    }
    //#endregion Add Unit

    //#region starts Edit Unit
    $(document).on("click", "#edit_btn", function (e) {
        var data = $(this).attr("data-model");
        unit = JSON.parse(data);

        $("#editid").val(unit._id);
        $("#edit_name").val(unit.name);
        // $("#edit_code").val(unit.code);
        // $("#edit_code_name").val(unit.code_name);
        $("#edit_symbol").val(unit.symbol);
        // $("#edit_symbol_international").val(unit.symbol_international);
        $("#edit_default").prop("checked", unit.default);
    });

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n["name"]] = n["value"];
        });

        return indexed_array;
    }
    var editform = $("#editform");
    editform.on("submit", editSubmitHandler);

    function editSubmitHandler(e) {
        e.preventDefault();

        var formData = getFormData(editform);

        $.ajax({
            type: "POST",
            url: "/admin/unit/edit",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify(formData),
        })
            .done((res) => {
                if (res.status == 200) {
                    iziToast.success({
                        title: "Success",
                        message: res.message,
                        position: "topRight",
                    });
                    $("#showEditModal").modal("hide");
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else {
                    iziToast.error({
                        title: "Error",
                        message: res.message,
                        position: "topRight",
                    });
                }
            })
            .fail(function (xhr, status, error) {
                iziToast.error({
                    title: "Error",
                    message: xhr.responseText,
                    position: "topRight",
                });
            });
    }
    //#endregion Edit

    //#region Delete
    let unitIdToDelete;
    $(document).ready(function () {
        // Show the modal and store the category ID to delete
        $(".remove-item-btn").click(function () {
            unitIdToDelete = $(this).data("id");
        });

        // AJAX request to delete the category
        $("#delete-record").click(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/admin/unit/delete/" + unitIdToDelete,
            })
                .done((res) => {
                    if (res.status == 200) {
                        iziToast.success({
                            title: "Success",
                            message: res.message,
                            position: "topRight",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        iziToast.error({
                            title: "Error",
                            message: res.message,
                            position: "topRight",
                        });
                    }
                })
                .fail(function (xhr, status, error) {
                    iziToast.error({
                        title: "Error",
                        message: xhr.responseText,
                        position: "topRight",
                    });
                });
        });
    });
    //#endregion Delete Unit
</script>
