<%- include('partials/header.ejs') %><!-- Begin page -->
<div id="layout-wrapper">
    <!-- Start right Content here -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="page-title-box d-sm-flex align-items-center justify-content-between"
                        >
                            <h4 class="mb-sm-0">Vendors</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);"
                                            >Dashboard</a
                                        >
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Vendors
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div id="productList">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div
                                        class="d-flex align-items-center flex-wrap gap-3"
                                    >
                                        <div class="flex-grow-1">
                                            <h3 class="card-title mb-0">
                                                Vendor List
                                            </h3>
                                        </div>
                                        <div>
                                            <div class="d-flex flex-wrap gap-2">
                                                <button
                                                    type="button"
                                                    class="btn btn-thm add-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#showVendorModal"
                                                    data-name="Vendor"
                                                >
                                                    <i
                                                        class="bi bi-plus-circle align-baseline me-1"
                                                    ></i>
                                                    Add Vendor
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row gy-3">
                                        <div class="col-xl-4">
                                            <div class="search-box">
                                                <input
                                                    type="text"
                                                    class="form-control search"
                                                    placeholder="Search customer, email etc..."
                                                />
                                                <i
                                                    class="ri-search-line search-icon"
                                                ></i>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4">
                                            <div>
                                                <select
                                                    class="form-control"
                                                    id="idStatus"
                                                    data-choices
                                                    data-choices-search-false
                                                >
                                                    <option value="all">
                                                        All Select
                                                    </option>
                                                    <option value="Active">
                                                        Active
                                                    </option>
                                                    <option value="Inactive">
                                                        Inactive
                                                    </option>
                                                    <option value="Banned">
                                                        Banned
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4">
                                            <input
                                                id="daterangeInput"
                                                class="py-2 px-14 border-sm rounded-1 form-control"
                                                type="text"
                                                name="daterange"
                                                value="01/01/2024 - 01/15/2024"
                                            />
                                        </div>
                                        <div class="col-xl-2 col-md-4">
                                            <button
                                                class="btn btn-subtle-primary w-100"
                                                onclick="filterData()"
                                            >
                                                <i
                                                    class="bi bi-funnel align-baseline me-1"
                                                ></i>
                                                Filter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end card-->
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-centered align-middle table-nowrap mb-0"
                                        >
                                            <thead class="table-active">
                                                <tr>
                                                    <th
                                                        
                                                    >
                                                        #
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Image
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Name
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Email
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Status
                                                    </th>
                                                    <th class="">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                <% users.forEach((user, index,
                                                status_id) => { %>
                                                <tr data-id="<%= user._id %>">
                                                    <td><%= index + 1 %></td>
                                                    <td class="customer">
                                                        <div
                                                            class="d-flex align-items-center"
                                                        >
                                                            <div
                                                                class="flex-shrink-0 me-2"
                                                            >
                                                                <div>
                                                                    <img
                                                                        class="avatar-sm rounded-circle customer-image-elem"
                                                                        src="<%- user.image ? '../../dist/users/' + user.image : '../../assets/images/default/user-dummy-img.jpg' %>"
                                                                        onerror="this.src='../../assets/images/default/user-dummy-img.jpg';"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="category">
                                                        <% if (user.name) { %>
                                                        <%= user.name %> <% }
                                                        else { %> <%=
                                                        user.first_name + " " +
                                                        user.last_name %> <% }
                                                        %>
                                                    </td>
                                                    <td class="email">
                                                        <%= user.email ?
                                                        user.email : '' %>
                                                    </td>
                                                    <td class="statusbar">
                                                        <button
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            title="Update Status"
                                                            class="<%= user.status_id?.name === 'banned' ? 'status-ban transform' : (user.status_id?.name === 'inactive' ? 'status-inactive toggle-btn transform ' : 'status-active toggle-btn transform') %>"
                                                            data-id="<%= user._id %>"
                                                        >
                                                            <%= user.status_id ?
                                                            user.status_id.name
                                                            : 'active' %>
                                                        </button>
                                                    </td>
                                                    <td
                                                        class="flex items-center justify-between"
                                                    >
                                                        <div
                                                            class="dropdown mt-1"
                                                        >
                                                            <button
                                                                data-id="<%= user._id %>"
                                                                class="btn btn-subtle-secondary btn-sm btn-icon three-dot three-dot-button"
                                                                role="button"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false"
                                                            >
                                                                <i
                                                                    class="bi bi-three-dots-vertical"
                                                                ></i>
                                                            </button>
                                                            <ul
                                                                class="dropdown-menu dropdown-menu-end"
                                                            >
                                                                <li>
                                                                    <a
                                                                        class="dropdown-item edit-item-btn"
                                                                        href="/admin/vendor/edit/<%= user._id %>"
                                                                        data-model="<%= JSON.stringify(user) %>"
                                                                    >
                                                                        <i
                                                                            class="ph-pencil align-middle me-1"
                                                                        ></i>
                                                                        Edit
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <% if
                                                                    (user.status_id?.name
                                                                    == "banned")
                                                                    {%>
                                                                    <a
                                                                        class="dropdown-item remove-ban-item-btn btn btn-danger"
                                                                        href="javascript:void(0);"
                                                                        data-id="<%= user._id %>"
                                                                    >
                                                                        <i
                                                                            class="ph-lock-open align-middle me-1"
                                                                        ></i>
                                                                        Unban
                                                                        this
                                                                        vendor
                                                                    </a>
                                                                    <% } else {
                                                                    %>
                                                                    <a
                                                                        class="dropdown-item ban-item-btn btn btn-danger"
                                                                        href="javascript:void(0);"
                                                                        data-id="<%= user._id %>"
                                                                    >
                                                                        <i
                                                                            class="ph-lock align-middle me-1"
                                                                        ></i>
                                                                        Ban this
                                                                        vendor
                                                                    </a>
                                                                    <% } %>
                                                                </li>
                                                                <li>
                                                                    <a
                                                                        class="dropdown-item delete-vendor-btn"
                                                                        href="#DeleteVendorModal"
                                                                        data-bs-toggle="modal"
                                                                        data-id="<%= user._id %>"
                                                                    >
                                                                        <i
                                                                            class="ph-trash align-middle me-1"
                                                                        ></i
                                                                        >Remove
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="noresult" style="display: none">
                                        <div class="text-center py-4">
                                            <i
                                                class="ph-magnifying-glass fs-1 text-primary"
                                            ></i>
                                            <h5 class="mt-2">
                                                Sorry! No Result Found
                                            </h5>
                                            <p class="text-muted mb-0">
                                                We've searched more than 150+
                                                customers We did not find any
                                                customers for you search.
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="align-items-center mt-4 justify-content-between row text-center text-sm-start"
                                        id="pagination-element"
                                    >
                                        <div class="col-sm">
                                            <div class="text-muted">
                                                Showing
                                                <span class="fw-semibold"
                                                    >10</span
                                                >
                                                of
                                                <span class="fw-semibold"
                                                    >13</span
                                                >
                                                Results
                                            </div>
                                        </div>
                                        <div class="col-sm-auto mt-3 mt-sm-0">
                                            <div
                                                class="pagination-wrap hstack gap-2"
                                            >
                                                <a
                                                    class="page-item pagination-prev disabled"
                                                    href="javascript:void(0)"
                                                    >Previous</a
                                                >
                                                <ul
                                                    class="pagination listjs-pagination mb-0"
                                                ></ul>
                                                <a
                                                    class="page-item pagination-next"
                                                    href="javascript:void(0)"
                                                    >Next</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!-- Add Vendor Modal -->
<div
    class="modal fade"
    id="showVendorModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Add Vendor</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="close-ordermodal"
                ></button>
            </div>
            <form
                id="addVendorForm"
                enctype="multipart/form-data"
                class="tablelist-form"
                autocomplete="off"
            >
                <div class="modal-body">         
                    <input type="hidden" id="id-field" />

                    <div class="text-center mb-3">
                        <div class="position-relative d-inline-block">
                            <div
                                class="position-absolute top-100 start-100 translate-middle"
                            >
                                <label
                                    for="image-input"
                                    class="mb-0"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="right"
                                    title="Select Category photo"
                                >
                                    <span class="avatar-xs d-inline-block">
                                        <span
                                            class="avatar-title bg-light border rounded-circle text-muted cursor-pointer"
                                        >
                                            <i class="ri-image-fill"></i>
                                        </span>
                                    </span>
                                </label>
                                <input
                                    class="form-control d-none"
                                    id="image-input"
                                    name="image"
                                    type="file"
                                    accept="image/png, image/gif, image/jpeg"
                                />
                            </div>
                            <div class="avatar-lg">
                                <div class="avatar-title bg-light rounded-3">
                                    <img
                                        src="/assets/images/users/user-dummy-img.jpg"
                                        alt=""
                                        id="image-preview"
                                        class="avatar-md h-auto rounded-3 object-fit-cover"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="vendorfirstname-field" class="form-label"
                            >First Name</label
                        >
                        <input
                            type="text"
                            id="vendorfirstname-field"
                            class="form-control"
                            name="first_name"
                            placeholder="Enter Vendor name"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="vendorlastname-field" class="form-label"
                            >Last Name</label
                        >
                        <input
                            type="text"
                            id="vendorlastname-field"
                            class="form-control"
                            name="last_name"
                            placeholder="Enter Vendor name"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"
                            >Email</label
                        >
                        <input
                            type="email"
                            id="vendoremail-field"
                            class="form-control"
                            name="email"
                            placeholder="Enter Vendor email"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="vendorpassword-field" class="form-label"
                            >Password</label
                        >
                        <input
                            type="text"
                            id="vendorpassword-field"
                            class="form-control"
                            name="password"
                            placeholder="Enter Vendor Password"
                        />
                    </div>
                    <div class="mb-3">
                        <label
                            for="customerconfirmpassword-field"
                            class="form-label"
                            >Confirm Password</label
                        >
                        <input
                            type="text"
                            id="customerconfirmpassword-field"
                            class="form-control"
                            name="confirmpassword"
                            placeholder="Enter Confirm Password"
                        />
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button
                            type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="submit"
                            class="btn btn-success"
                            id="add-btn"
                        >
                            Add Vendor
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end Add Category Modal -->

<!-- banVendorModal -->
<div
    id="banVendorModal"
    class="modal fade zoomIn"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    id="deleteRecord-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="76"
                            height="76"
                            fill="currentColor"
                            class="bi bi-ban"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"
                            />
                        </svg>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Are you sure?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">
                            Are you sure you want to Ban this Vendor?
                        </p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button
                        type="button"
                        class="btn w-sm btn-light btn-hover"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn w-sm btn-danger btn-hover"
                        id="confirm-ban-btn"
                    >
                        Yes, Ban this.
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- banVendorModal -->

<!-- DeleteVendorModal -->
<div
    id="DeleteVendorModal"
    class="modal fade zoomIn"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    id="deleteRecord-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Are you sure?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">
                            Are you sure you want to delete this vendor?
                        </p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button
                        type="button"
                        class="btn w-sm btn-light btn-hover"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn w-sm btn-danger btn-hover"
                        id="confirm-delete-btn"
                    >
                        Yes, Delete This.
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /DeleteVendorModal -->
<%- include('partials/footer.ejs') %>
<script>
    var addform = $("#addVendorForm");
    addform.on("submit", submitFormHandler);

    function submitFormHandler(e) {
        e.preventDefault();

        var formData = new FormData(addform[0]);
        console.log(formData);
        $.ajax({
            type: "POST",
            url: "/admin/vendor/add",
            data: formData,
            processData: false,
            contentType: false,
        })
            .done((res) => {
                iziToast.success({
                    title: "Success",
                    message: res.message,
                    position: "topRight",
                });
                setTimeout(function () {
                    location.reload();
                }, 1000);
            })
            .fail(function (xhr, status, error) {
                iziToast.error({
                    title: "Error",
                    message: xhr.responseText,
                    position: "topRight",
                });
            });
    }
</script>

<script>
    $(document).ready(function () {
        // Function to perform search
        $(".search").on("keyup", function () {
            var searchText = $(this).val().toLowerCase();

            $("#userTableBody tr").each(function () {
                var name = $(this).find(".name").text().toLowerCase();
                var email = $(this).find(".email").text().toLowerCase();

                if (name.includes(searchText) || email.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

            // Show/hide no results found message
            if ($("#userTableBody tr:visible").length > 0) {
                $(".noresult").hide();
            } else {
                $(".noresult").show();
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#daterangeInput").daterangepicker(
            {
                opens: "left",
                locale: {
                    format: "MM/DD/YYYY",
                },
            },
            function (start, end) {
                // Format dates for API request
                const startDate = start.format("YYYY-MM-DD");
                const endDate = end.format("YYYY-MM-DD");

                // Make API request to fetch users based on date range
                axios
                    .get(`/venders?startDate=${startDate}&endDate=${endDate}`)
                    .then((response) => {
                        const users = response.data.users;
                        updateTable(users);
                    })
                    .catch((error) => {
                        console.error("Error fetching users:", error);
                    });
            }
        );
    });

    $(document).ready(function () {
        $(".three-dot-button").on("click", async function () {
            var userId = $(this).data("id");
            const banButtons = document.querySelectorAll(".ban-item-btn");
            banButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    const userId = this.getAttribute("data-id");
                    const span = this.querySelector("span");
                    const currentText = span.textContent.trim();

                    if (confirmAction) {
                        $.ajax({
                            url: `/remove-ban/${userId}`,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                status:
                                    currentText === "Ban this vendor"
                                        ? "banned"
                                        : "active",
                            }),
                            success: function (data) {
                                if (data.success) {
                                    span.textContent =
                                        currentText === "Ban this vendor"
                                            ? "Remove ban"
                                            : "Ban this vendor";
                                } else {
                                    alert("Failed to update status");
                                }
                            },
                            error: function (err) {
                                console.error("Error:", err);
                            },
                        });
                    }
                });
            });
        });
        // Handle status toggle button click

        $(".toggle-btn").on("click", function () {
            var userId = $(this).data("id");
            var button = $(this);
            var newStatus;

            // Toggle classes and determine new status
            if (button.hasClass("status-active")) {
                button.removeClass("status-active").addClass("status-inactive");
                newStatus = "inactive";
            } else {
                button.removeClass("status-inactive").addClass("status-active");
                newStatus = "active";
            }

            // Send AJAX request to update status
            $.ajax({
                url: "/admin/vendor/status_change",
                method: "POST",
                data: {
                    userId: userId,
                    status: newStatus,
                },
                success: function (response) {
                    iziToast.success({
                        title: "Success",
                        message: response.message,
                        position: "topRight",
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                },
                error: function (xhr, status, error) {
                    iziToast.error({
                        title: "Error",
                        message: xhr.responseText,
                        position: "topRight",
                    });
                },
            });
        });

        // Handle "Remove ban" button click
        $(".remove-ban-item-btn").on("click", function () {
            var userId = $(this).data("id");
            var currentStatusButton = $(this).closest("td").find(".toggle-btn");
            let newStatus = "active";

            $.ajax({
                type: "POST",
                url: "/admin/vendor/status_change",
                data: {
                    userId: userId,
                    status: newStatus,
                },
            })
                .done((res) => {
                    currentStatusButton
                        .removeClass("status-ban")
                        .addClass("status-active")
                        .prop("disabled", false);
                    iziToast.success({
                        title: "Success",
                        message: res.message,
                        position: "topRight",
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                })
                .fail(function (xhr, status, error) {
                    iziToast.error({
                        title: "Error",
                        message: xhr.responseText,
                        position: "topRight",
                    });
                });
        });

        // Handle "Ban this vendor" button click
        $(".ban-item-btn").on("click", function () {
            var userId = $(this).data("id");
            var currentStatusButton = $(this).closest("td").find(".toggle-btn");

            // Open the confirmation modal
            $("#banVendorModal").modal("show");

            // Handle "Yes, ban this" button click in modal
            $("#confirm-ban-btn")
                .off("click")
                .on("click", function () {
                    // AJAX POST request to ban the user
                    $.ajax({
                        type: "POST",
                        url: "/admin/vendor/status_ban",
                        data: {
                            userId: userId,
                        }, // Data to send in the request body,
                    })
                        .done((res) => {
                            currentStatusButton
                                .removeClass("status-active")
                                .removeClass("status-inactive")
                                .addClass("status-ban")
                                .prop("disabled", true);
                            $("#banVendorModal").modal("hide");
                            iziToast.success({
                                title: "Success",
                                message: res.message,
                                position: "topRight",
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        })
                        .fail(function (xhr, status, error) {
                            iziToast.error({
                                title: "Error",
                                message: xhr.responseText,
                                position: "topRight",
                            });
                        });
                });
        });
    });
    //# Delete region Start Here

    let VendorIdToDelete;
    $(document).ready(function () {
        // Show the modal and store the Slider ID to delete
        $(".delete-vendor-btn").on("click", function () {
            var VendorIdToDelete = $(this).data("id");

            // AJAX request to delete the Slider
            $("#confirm-delete-btn").click(function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/admin/vendor/delete/" + VendorIdToDelete,
                })
                    .done((res) => {
                        if (res.status == 200) {
                            iziToast.success({
                                title: "Success",
                                message: res.message,
                                position: "topRight",
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            iziToast.error({
                                title: "Error",
                                message: res.message,
                                position: "topRight",
                            });
                        }
                    })
                    .fail(function (xhr, status, error) {
                        iziToast.error({
                            title: "Error",
                            message: xhr.responseText,
                            position: "topRight",
                        });
                    });
            });
        });
    });
    //#endregion Delete Vendor
</script>

<script>
    function formatDate(dateString) {
        const options = {
            day: "numeric",
            month: "short",
            year: "numeric",
        };
        const date = new Date(dateString);
        return date.toLocaleDateString("en-US", options);
    }
</script>


<script>
    document.getElementById('idStatus').addEventListener('change', function() {
        const selectedStatus = this.value.toLowerCase();
        const rows = document.querySelectorAll('.list tr');
        rows.forEach(row => {
            const statusText = row.querySelector('.statusbar button').textContent.trim().toLowerCase();
            if (selectedStatus === 'all' || statusText === selectedStatus) {
                row.style.display = ''; 
            } else {
                row.style.display = 'none';
            }
        });
    });
    
</script>