<%- include('partials/header') %>
<!-- Begin page -->
<div id="layout-wrapper">
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="page-title-box d-sm-flex align-items-center justify-content-between"
                        >
                            <h4 class="mb-sm-0">Payout</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="/seller/dashboard"
                                            >Dashboard</a
                                        >
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Payout
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div id="productList">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-xxl-3">
                                            <div class="search-box">
                                                <input
                                                    type="text"
                                                    class="form-control search"
                                                    placeholder="Search products, price etc..."
                                                />
                                                <i
                                                    class="ri-search-line search-icon"
                                                ></i>
                                            </div>
                                        </div>

                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div
                                    class="card-header d-flex align-items-center"
                                >
                                    <div class="flex-grow-1">
                                        <h5 class="card-title mb-0">
                                            Payout Report
                                        </h5>
                                    </div>
                                    <div class="d-flex flex-wrap gap-2">
                                        <button
                                            type="button"
                                            class="btn btn-thm add-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#showSupportModal"
                                            data-name="support"
                                        >
                                            <i
                                                class="bi bi-plus-circle align-baseline me-1"
                                            ></i>
                                            Send request
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-centered align-middle table-nowrap mb-0"
                                        >
                                            <thead class="table-active">
                                                <tr>
                                                    <th>
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                value="option"
                                                                id="checkAll"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                                for="checkAll"
                                                            ></label>
                                                        </div>
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Date
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Amount
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Account Holder Name
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Account No.
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Bank Name
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        IFSC Code
                                                    </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                <% if(!payoutReports[0]) { %>
                                                <tr>
                                                    <td
                                                        colspan="100%"
                                                        class="text-center"
                                                    >
                                                        No Data
                                                    </td>
                                                </tr>
                                                <% } else {%> <%
                                                payoutReports.forEach(function(payout){%>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                name="chk_child"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                            ></label>
                                                        </div>
                                                    </td>
                                                    <% const date = new
                                                    Date(payout.created_at);
                                                    const formattedDate =
                                                    date.toLocaleString('en-GB',
                                                    { day: '2-digit', month:
                                                    'short', year: 'numeric' });
                                                    %>
                                                    <td class="date">
                                                        <%= formattedDate ?
                                                        formattedDate : ""%>
                                                    </td>
                                                    <td class="price">
                                                        <%= payout.amount ?
                                                        payout.amount : ""%>
                                                    </td>
                                                    <td class="category">
                                                        <%=
                                                        payout.account_holder_name
                                                        ?
                                                        payout.account_holder_name
                                                        : ""%>
                                                    </td>
                                                    <td class="category">
                                                        <%= payout.account_no ?
                                                        payout.account_no : ""%>
                                                    </td>
                                                    <td class="category">
                                                        <%= payout.bank_name ?
                                                        payout.bank_name : ""%>
                                                    </td>
                                                    <td class="category">
                                                        <%= payout.ifsc_code ?
                                                        payout.ifsc_code : ""%>
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="dropdown position-static"
                                                        >
                                                            <button
                                                                class="btn btn-subtle-secondary btn-sm btn-icon"
                                                                role="button"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false"
                                                            >
                                                                <i
                                                                    class="bi bi-three-dots-vertical"
                                                                ></i>
                                                            </button>

                                                            <ul
                                                                class="dropdown-menu dropdown-menu-end"
                                                            >
                                                                <!-- <li>
                                                                    <a
                                                                        class="dropdown-item edit-item-btn"
                                                                        data-bs-toggle="modal"
                                                                        href="#showModal"
                                                                        ><i
                                                                            class="ph-pencil align-middle me-1"
                                                                        ></i>
                                                                        Edit</a
                                                                    >
                                                                </li> -->
                                                                <li>
                                                                    <a
                                                                        class="dropdown-item remove-item-btn"
                                                                        data-bs-toggle="modal"
                                                                        href="#deleteRecordModal"
                                                                        data-id="<%= payout._id %>"
                                                                        ><i
                                                                            class="ph-trash align-middle me-1"
                                                                        ></i>
                                                                        Remove</a
                                                                    >
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }); %> <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end table-responsive-->

                                    <div class="noresult" style="display: none">
                                        <div class="text-center py-4">
                                            <i
                                                class="ph-magnifying-glass fs-1 text-primary"
                                            ></i>
                                            <h5 class="mt-2">
                                                Sorry! No Result Found
                                            </h5>
                                            <p class="text-muted mb-0">
                                                We've searched more than 150+
                                                requests We did not find any
                                                requests for you search.
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                        class="align-items-center mt-4 justify-content-between row text-center text-sm-start"
                                        id="pagination-element"
                                    >
                                        <div class="col-sm">
                                            <div class="text-muted">
                                                Showing
                                                <span
                                                    class="fw-semibold"
                                                    id="current-items"
                                                    ><%= Math.min(currentPage *
                                                    pageSize, totalItems)
                                                    %></span
                                                >
                                                of
                                                <span
                                                    class="fw-semibold"
                                                    id="total-items"
                                                    ><%= totalItems ? totalItems
                                                    : 0%></span
                                                >
                                                Results
                                            </div>
                                        </div>

                                        <div class="col-sm-auto mt-3 mt-sm-0">
                                            <div
                                                class="pagination-wrap hstack gap-2 justify-content-center"
                                            >
                                                <a
                                                    class="page-item pagination-prev disabled"
                                                    href="javascript:void(0)"
                                                    >Previous</a
                                                >
                                                <ul
                                                    class="pagination listjs-pagination mb-0"
                                                ></ul>
                                                <a
                                                    class="page-item pagination-next"
                                                    href="javascript:void(0)"
                                                    >Next</a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end pagination-element -->
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!-- Add Payout Modal -->
<div
    class="modal fade modal-lg"
    id="showSupportModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">
                    Send Payout Request
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="close-ordermodal"
                ></button>
            </div>
            <form id="addPayoutForm" class="tablelist-form">
                <div class="modal-body">
                    <input type="hidden" id="id-field" />

                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input
                            type="number"
                            id="amount"
                            class="form-control"
                            name="amount"
                            placeholder="Enter Amount "
                        />
                    </div>
                    <div class="mb-3">
                        <label for="department" class="form-label"
                            >Department</label
                        >
                        <textarea
                            class="form-control"
                            type="text"
                            name="department"
                            id="department"
                            rows="3"
                            placeholder="Enter Department"
                        ></textarea>
                    </div>

                    <div class="row">
                        <!-- not input field here i want to only show the data -->
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-5">
                                        <label class="form-label"
                                            >Account Holder Name :-</label
                                        >
                                    </div>
                                    <div class="col">
                                        <p>
                                            <%= vendor.account_holder_name ?
                                            vendor.account_holder_name : '' %>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label class="form-label"
                                            >Account No. :-</label
                                        >
                                    </div>
                                    <div class="col">
                                        <p>
                                            <%= vendor.account_no ?
                                            vendor.account_no : '' %>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label class="form-label"
                                            >IFSC Code :-</label
                                        >
                                    </div>
                                    <div class="col">
                                        <p>
                                            <%= vendor.ifsc_code ?
                                            vendor.ifsc_code : '' %>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label class="form-label"
                                            >Bank Name :-</label
                                        >
                                    </div>
                                    <div class="col">
                                        <p>
                                            <%= vendor.bank_name ?
                                            vendor.bank_name : '' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button
                            type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="submit"
                            class="btn btn-success"
                            id="add-btn"
                        >
                            Send request
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Add Payout Modal -->

<!-- deleteRecordModal -->
<div
    id="deleteRecordModal"
    class="modal fade zoomIn"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    id="deleteRecord-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Are you sure ?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">
                            Are you sure you want to remove this record ?
                        </p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button
                        type="button"
                        class="btn w-sm btn-light btn-hover"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn w-sm btn-danger btn-hover"
                        id="delete-record"
                    >
                        Yes, Delete It!
                    </button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /deleteRecordModal -->

<%- include('partials/footer') %>

<script>
    var addform = $("#addPayoutForm");
    addform.on("submit", submitFormHandler);

    function submitFormHandler(e) {
        e.preventDefault();

        //validation
        if ($("#amount").val() == "") {
            iziToast.warning({
                title: "Warning",
                message: "Please enter amount",
                position: "topRight",
            });
            return;
        }
        var formData = getFormData(addform);
        // DO POST
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/seller/payout/request-add",
            data: JSON.stringify(formData),
        })
            .done((res) => {
                if (res.status == 200) {
                    iziToast.success({
                        title: "Success",
                        message: res.message,
                        position: "topRight",
                    });
                    $("#showModal").modal("hide");
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else {
                    iziToast.error({
                        title: "Error",
                        message: res.message,
                        position: "topRight",
                    });
                }
            })
            .fail(function (xhr, status, error) {
                iziToast.error({
                    title: "Error",
                    message: xhr.responseText,
                    position: "topRight",
                });
            });
    }

    //#region Delete payout
    let payoutIdToDelete;
    $(document).ready(function () {
        // Show the modal and store the payout ID to delete
        $(".remove-item-btn").click(function () {
            payoutIdToDelete = $(this).data("id");
        });

        // AJAX request to delete the payout
        $("#delete-record").click(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/seller/payout/request-delete/" + payoutIdToDelete,
            })
                .done((res) => {
                    if (res.status == 200) {
                        iziToast.success({
                            title: "Success",
                            message: res.message,
                            position: "topRight",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    } else {
                        iziToast.error({
                            title: "Error",
                            message: res.message,
                            position: "topRight",
                        });
                    }
                })
                .fail(function (xhr, status, error) {
                    iziToast.error({
                        title: "Error",
                        message: xhr.responseText,
                        position: "topRight",
                    });
                });
        });
    });
    //#endregion Delete payout
</script>
