<%- include('partials/header') %>
<!-- Begin page -->
<div id="layout-wrapper">
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="page-title-box d-sm-flex align-items-center justify-content-between"
                        >
                            <h4 class="mb-sm-0">Products</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="/seller/dashboard"
                                            >Dashboard</a
                                        >
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Products
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div id="productList">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-xxl-3">
                                            <label class="form-label"
                                                >Search</label
                                            >
                                            <div class="search-box">
                                                <input
                                                    type="text"
                                                    class="form-control search"
                                                    placeholder="Search products, price etc..."
                                                />
                                                <i
                                                    class="ri-search-line search-icon"
                                                ></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <!-- <div class="col-xxl-3 col-sm-6">
                                            <label class="form-label"
                                                >Brands</label
                                            >
                                            <div>
                                                <select
                                                    class="form-control"
                                                    data-choices
                                                    data-choices-search-false
                                                    data-choices-removeItem
                                                >
                                                    <option
                                                        value=""
                                                        disabled
                                                        selected
                                                    >
                                                        Select Brand
                                                    </option>
                                                    <%brand.forEach(function(element){
                                                    %>
                                                    <option
                                                        value="<%= element._id %>"
                                                    >
                                                        <%= element.name%>
                                                    </option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div> -->
                                        <!--end col-->
                                        <div class="col-xxl-3 col-sm-6">
                                            <label class="form-label"
                                                >Category</label
                                            >
                                            <div>
                                                <select
                                                    class="form-control"
                                                    id="idCategory"
                                                >
                                                    <option
                                                        value=""
                                                        disabled
                                                        selected
                                                    >
                                                        Select Category
                                                    </option>
                                                    <%
                                                    categoriesForDropdown.forEach(function(category)
                                                    { %>
                                                    <option
                                                        value="<%= category._id %>"
                                                    >
                                                        <%= category.prefix
                                                        %><%= category.name %>
                                                    </option>
                                                    <% if (category.children &&
                                                    category.children.length >
                                                    0) { %> <%
                                                    category.children.forEach(function(child)
                                                    { %>
                                                    <option
                                                        value="<%= child._id %>"
                                                    >
                                                        <%= child.name %>
                                                    </option>
                                                    <% }); %> <% } %> <% }); %>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <!-- <div class="col-xxl-2 col-sm-6">
                                            <label class="form-label"
                                                >Discount</label
                                            >
                                            <div>
                                                <select
                                                    class="form-control"
                                                    id="idDiscount"
                                                    data-choices
                                                    data-choices-search-false
                                                    data-choices-removeItem
                                                >
                                                    <option value="all">
                                                        Select All Discount
                                                    </option>
                                                    <option value="50">
                                                        50% or more
                                                    </option>
                                                    <option value="40">
                                                        40% or more
                                                    </option>
                                                    <option value="30">
                                                        30% or more
                                                    </option>
                                                    <option value="20">
                                                        20% or more
                                                    </option>
                                                    <option value="10">
                                                        10% or more
                                                    </option>
                                                    <option value="0">
                                                        Less than 10%
                                                    </option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <!--end col-->
                                        <div
                                            class="col-xxl-1 col-sm-6"
                                            style="margin-top: 40px"
                                        >
                                            <button
                                                type="button"
                                                class="btn btn-secondary w-100 pd-new"
                                                onclick="filterData();"
                                            >
                                                <i
                                                    class="bi bi-funnel align-baseline me-1"
                                                ></i>
                                                Filters
                                            </button>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div
                                    class="card-header d-flex align-items-center"
                                >
                                    <div class="flex-grow-1">
                                        <h5 class="card-title mb-0">
                                            Products
                                            <span
                                                class="badge bg-dark-subtle text-dark ms-1"
                                            >
                                                <%= totalItems ? totalItems : 0
                                                %>
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div
                                            class="d-flex flex-wrap align-items-start gap-2"
                                        >
                                            <button
                                                class="btn btn-subtle-danger d-none"
                                                id="remove-actions"
                                                onClick="deleteMultiple()"
                                            >
                                                <i
                                                    class="ri-delete-bin-2-line"
                                                ></i>
                                            </button>
                                            <a
                                                href="/seller/product/add"
                                                class="btn btn-thm add-btn"
                                                ><i
                                                    class="bi bi-plus-circle align-baseline me-1"
                                                ></i>
                                                Add Product</a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-centered align-middle table-nowrap mb-0"
                                            id="products"
                                        >
                                            <thead class="table-active">
                                                <tr>
                                                    <th>
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                value="option"
                                                                id="checkAll"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                                for="checkAll"
                                                            ></label>
                                                        </div>
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Products
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Category
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Stock
                                                    </th>
                                                    <th
                                                        
                                                       
                                                    >
                                                        Price
                                                    </th>
                                                    <!-- <th
                                                       
                                                    >
                                                        Orders
                                                    </th> -->
                                                    <!-- <th
                                                        
                                                       
                                                    >
                                                        Rating
                                                    </th> -->
                                                    <th
                                                        
                                                       
                                                    >
                                                        Published
                                                    </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                <% if(!products[0]) { %>
                                                <tr>
                                                    <td
                                                        colspan="100%"
                                                        class="text-center"
                                                    >
                                                        No Data
                                                    </td>
                                                </tr>
                                                <% } else {%> <%
                                                products.forEach(function(products){%>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                name="chk_child"
                                                                value="<%= products._id %>"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                            ></label>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class="id"
                                                        style="display: none"
                                                    >
                                                        <a
                                                            href="javascript:void(0);"
                                                            class="fw-medium link-primary"
                                                            ><%= products._id
                                                            %></a
                                                        >
                                                    </td>
                                                    <td class="products">
                                                        <div
                                                            class="d-flex align-items-center"
                                                        >
                                                            <div
                                                                class="avatar-xs bg-light rounded p-1 me-2"
                                                            >
                                                                <img
                                                                    src="<%- products.thumbnail ? '../../dist/product/' + products.thumbnail : '../../assets/images/default/mart-demo-img.jpg' %>"
                                                                    onerror="this.src='../../assets/images/default/mart-demo-img.jpg';"
                                                                    class="img-fluid d-block"
                                                                />
                                                            </div>
                                                            <div>
                                                                <h6
                                                                    class="mb-0"
                                                                >
                                                                    <!-- <a
                                                                        href="apps-ecommerce-product-details.html"
                                                                        class="text-reset products"
                                                                    > -->
                                                                    <%-
                                                                    products.product_name
                                                                    ?
                                                                    products.product_name
                                                                    : '' %>
                                                                    <!-- </a> -->
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="category" data-category-id="<%= products.category_id ? products.category_id._id : '' %>">
                                                        <%=
                                                        products.category_id?
                                                        products.category_id.name:
                                                        ''%>
                                                    </td>
                                                    <td class="stock">
                                                        <%=
                                                        products.totalStock ?
                                                        products.totalStock :
                                                        ''%>
                                                    </td>
                                                    <td class="price">
                                                        <%= products.unit_price?
                                                        products.unit_price:
                                                        ''%>
                                                    </td>
                                                    <!-- <td class="orders">48</td> -->
                                                    <!-- <td class="rating">
                                                        <span
                                                            class="badge bg-warning-subtle text-warning"
                                                            ><i
                                                                class="bi bi-star-fill align-baseline me-1"
                                                            ></i>
                                                            4.9</span
                                                        >
                                                    </td> -->
                                                    <% 
                                                     const date = new Date(products.created_at);
                                                     const formattedDate = date.toLocaleString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' });
                                                     %>
                                                    <td class="date">
                                                        <%= formattedDate ? formattedDate : ""%>
                                                    </td>

                                                    <td>
                                                        <div
                                                            class="dropdown position-static"
                                                        >
                                                            <button
                                                                class="btn btn-subtle-secondary btn-sm btn-icon"
                                                                role="button"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false"
                                                            >
                                                                <i
                                                                    class="bi bi-three-dots-vertical"
                                                                ></i>
                                                            </button>

                                                            <ul
                                                                class="dropdown-menu dropdown-menu-end"
                                                            >
                                                                <!-- <li>
                                                                    <a
                                                                        class="dropdown-item"
                                                                        href="apps-ecommerce-product-details.html"
                                                                        ><i
                                                                            class="ph-eye align-middle me-1"
                                                                        ></i>
                                                                        View</a
                                                                    >
                                                                </li> -->
                                                                <li>
                                                                    <a
                                                                        class="dropdown-item edit-item-btn"
                                                                        href="edit/<%= products._id %>"
                                                                        ><i
                                                                            class="ph-pencil align-middle me-1"
                                                                        ></i>
                                                                        Edit</a
                                                                    >
                                                                </li>
                                                                <li>
                                                                    <a
                                                                        class="dropdown-item remove-item-btn"
                                                                        data-bs-toggle="modal"
                                                                        href="#deleteRecordModal"
                                                                        data-id="<%= products._id %>"
                                                                        ><i
                                                                            class="ph-trash align-middle me-1"
                                                                        ></i>
                                                                        Remove</a
                                                                    >
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }); %> <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end table-responsive-->

                                    <div class="noresult" style="display: none">
                                        <div class="text-center py-4">
                                            <div class="avatar-md mx-auto mb-4">
                                                <div
                                                    class="avatar-title bg-light text-primary rounded-circle fs-4xl"
                                                >
                                                    <i class="bi bi-search"></i>
                                                </div>
                                            </div>
                                            <h5 class="mt-2">
                                                Sorry! No Result Found
                                            </h5>
                                            <p class="text-muted mb-0">
                                                We've searched more than 150+
                                                products We did not find any
                                                products for you search.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- end noresult -->

                                    <div
                                        class="row mt-3 align-items-center"
                                        id="pagination-element"
                                    >
                                        <div class="col-sm">
                                            <div
                                                class="text-muted text-center text-sm-start"
                                            >
                                                Showing
                                                <span
                                                    class="fw-semibold"
                                                    id="current-items"
                                                    ><%= Math.min(currentPage *
                                                    pageSize, totalItems)
                                                    %></span
                                                >
                                                of
                                                <span
                                                    class="fw-semibold"
                                                    id="total-items"
                                                    ><%= totalItems ? totalItems : 0%></span
                                                >
                                                Results
                                            </div>
                                        </div>

                                        <div class="col-sm-auto mt-3 mt-sm-0">
                                            <div
                                                class="pagination-wrap hstack gap-2 justify-content-center"
                                            >
                                                <a
                                                    class="page-item pagination-prev disabled"
                                                    href="#"
                                                >
                                                    <i
                                                        class="mdi mdi-chevron-left align-middle"
                                                    ></i>
                                                </a>
                                                <ul
                                                    class="pagination listjs-pagination mb-0"
                                                ></ul>
                                                <a
                                                    class="page-item pagination-next"
                                                    href="#"
                                                >
                                                    <i
                                                        class="mdi mdi-chevron-right align-middle"
                                                    ></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end pagination-element -->
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!-- deleteRecordModal -->
<div
    id="deleteRecordModal"
    class="modal fade zoomIn"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    id="deleteRecord-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Are you sure ?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">
                            Are you sure you want to remove this record ?
                        </p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button
                        type="button"
                        class="btn w-sm btn-light btn-hover"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn w-sm btn-danger btn-hover"
                        id="delete-record"
                    >
                        Yes, Delete It!
                    </button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /deleteRecordModal -->

<%- include('partials/footer') %>
<script>
    //#region Delete product
    let productID;
    $(document).ready(function () {
        // Show the modal and store the product ID to delete
        $(".remove-item-btn").click(function () {
            productID = $(this).data("id");
        });

        // AJAX request to delete the product
        $("#delete-record").click(function () {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/seller/product/delete/" + productID,
            })
                .done((res) => {
                    if (res.status == 200) {
                        iziToast.success({
                            title: "Success",
                            message: res.message,
                            position: "topRight",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        iziToast.error({
                            title: "Error",
                            message: res.message,
                            position: "topRight",
                        });
                    }
                })
                .fail(function (xhr, status, error) {
                    iziToast.error({
                        title: "Error",
                        message: xhr.responseText,
                        position: "topRight",
                    });
                });
        });
    });
    //#endregion Delete product

    function deleteMultiple() {
        const ids_array = [];
        const checkboxes = document.getElementsByName("chk_child");

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                const productID = checkboxes[i].value;
                ids_array.push(productID);
            }
        }

        if (ids_array.length > 0) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn btn-primary w-xs me-2 mt-2",
                cancelButtonClass: "btn btn-danger w-xs mt-2",
                confirmButtonText: "Yes, delete it!",
                buttonsStyling: false,
                showCloseButton: true,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/seller/product/delete",
                        data: JSON.stringify({ ids: ids_array }),
                    })
                        .done((res) => {
                            if (res.status == 200) {
                                iziToast.success({
                                    title: "Success",
                                    message: res.message,
                                    position: "topRight",
                                });
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            } else {
                                iziToast.error({
                                    title: "Error",
                                    message: res.message,
                                    position: "topRight",
                                });
                            }
                        })
                        .fail(function (xhr, status, error) {
                            iziToast.error({
                                title: "Error",
                                message: xhr.responseText,
                                position: "topRight",
                            });
                        });
                }
            });
        } else {
            Swal.fire({
                title: "Please select at least one checkbox",
                confirmButtonClass: "btn btn-info",
                buttonsStyling: false,
                showCloseButton: true,
            });
        }
    }
</script>
