<%- include('partials/header') %>
<!-- Begin page -->
<div id="layout-wrapper">
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="page-title-box d-sm-flex align-items-center justify-content-between"
                        >
                            <h4 class="mb-sm-0">Profile</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="/seller/dashboard">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Profile
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <!--end col-->
                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Profile</h6>
                            </div>
                            <div class="card-body">
                                <form id="updateForm">
                                    <div
                                        class="row g-2 justify-content-lg-between align-items-center"
                                    >
                                        <div class="col-lg-6">
                                            <label
                                                for="first_name"
                                                class="form-label"
                                                >First Name</label
                                            >
                                            <div class="position-relative">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="first_name"
                                                    name="first_name"
                                                    placeholder="Enter First name"
                                                    value="<%= record.first_name ? record.first_name : '' %>"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <label
                                                for="last_name"
                                                class="form-label"
                                                >Last Name</label
                                            >
                                            <div class="position-relative">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="last_name"
                                                    name="last_name"
                                                    placeholder="Enter Last name"
                                                    value="<%= record.last_name ? record.last_name : '' %>"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label"
                                                    >Image
                                                </label>
                                                <input
                                                    type="file"
                                                    class="form-control"
                                                    id="image"
                                                    name="image"
                                                    placeholder="Upload image"
                                                />
                                                <input
                                                    type="hidden"
                                                    id="image-hidden"
                                                    name="image-hidden"
                                                    value="<%= record.image %>"
                                                />
                                                <div
                                                    class="mb-2 mt-2"
                                                    id="preview-image"
                                                >
                                                    <img
                                                        src="<%- record.image ? '../../dist/profile/' + record.image : '../../assets/images/default/user-dummy-img.jpg' %>"
                                                        onerror="this.src='../../assets/images/default/user-dummy-img.jpg';"
                                                        id="display_preview_image"
                                                        style="
                                                            margin: 5px;
                                                            width: 100px;
                                                            height: 100px;
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="d-flex align-items-center justify-content-end"
                                        >
                                            <div class="">
                                                <button
                                                    type="submit"
                                                    class="btn btn-thm"
                                                >
                                                    Save Changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<%- include('partials/footer') %>

<!-- profile-update -->
<script>
    $("#image").change(function () {
        displayPP(this, $("#preview-image"));
    });

    var editform = $("#updateForm");
    editform.submit(function (e) {
        e.preventDefault();
        var formData = new FormData(editform[0]);
        $.ajax({
            type: "POST",
            cache: false,
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            url: "/seller/profile-update",
            data: formData,
        })
            .done((res) => {
                if (res.status == 200) {
                    iziToast.success({
                        title: "Success",
                        message: res.message,
                        position: "topRight",
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                } else {
                    iziToast.error({
                        title: "Error",
                        message: res.message,
                        position: "topRight",
                    });
                }
            })
            .fail(function (xhr, status, error) {
                iziToast.error({
                    title: "Error",
                    message: xhr.responseText,
                    position: "topRight",
                });
            });
    });
</script>
